$circle-color: #d4dbe0;
$link-color: black;
$text-color:black;
$text-color-secondary: white;
$text-color-third: #35A8E0;
$button-color: #35A8E0;
$secondary-text-color:#565E66;
$form-background:#274291;